<div class="container docs-header-section header" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
  <div fxFlex="30%">

  </div>

  <div fxFlex="70%">
    <h3>NIIT Technologies is a leading global IT solutions organization-servicing customers across the Americas, Europe, Asia
      and Australia. 
      <br>Focused on Digital Services, the Company is helping businesses design agile, scalable and digital operating
      models. 
      <br>Differentiated on the strength of its industry expertise, NIIT Technologies services clients in travel and
      transportation, banking and financial services, insurance, manufacturing and media verticals, offering a range of services
      including Application Development and Maintenance, Infrastructure Management, and Business Process Management.
    </h3>
  </div>

</div>



<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="MOOG Industrial">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
          vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
          felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
          enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>
      <mat-tab label="Digital Projects">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
          vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
          felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
          enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>
      <mat-tab label="Other Projects">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
          vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
          felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum
          enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>

      <mat-tab label="Activities">
        <div class="demo-tab-content">
          Participated in Business Idea Hackathon

        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-card-content>
</mat-card>