.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }
 
.docs-header-section {
  padding-top: 5%;
}

.header {
  color: #fff;
  background: #3f51b5;
}

@media (max-width: 720px){
  .docs-header-section {
      padding-top: 30%;
  }
}

.item {
  padding-top: 5%;
}