<div class="container docs-header-section header" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <div class="header">
                <h1>2020 SMART WORLD</h1>
                <h2>SMART people will be using SMART devices to access SMART data
                        <br>
                        <br> SMART data will be hosted in SMART cloud managed by SMART enterprises
                        <br>
                        <br> SMART enterprises will be running by SMART people of SMART world</h2>
        </div>
</div>



<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <div>
                <h1>Experience</h1>

                <img src="../../assets/images/experience-2018.jpg">
                <!--img src="../../assets/images/exp-mobile.jpg" class="docs-header-section"-->
        </div>
</div>

<!--div class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
        
        <div class="item item-1" fxFlex="30%">
                        <h1>Experience</h1>
                <mat-card class="card ">
                        <mat-card-header class="mat-elevation-z10">
                                <mat-card-title>NIIT Technologies,
                                        <br>Greater Noida</mat-card-title>
                                <mat-card-subtitle>Oct'15-Sep'17</mat-card-subtitle>
                                <img mat-card-avatar src="">
                        </mat-card-header>

                        <mat-card-content>
                                <br> NIIT Technologies is a leading in . My core responsibilites were administration of QAD ERP
                                Application and Progress OpenEdge Database Administration. Along with core responsibilites,
                                I took initiative and participated in Digital Transformation program. Enter to explore more
                                about different projects.
                        </mat-card-content>

                        <mat-card-actions>
                                <a mat-raised-button color="primary" routerLink="/projects/niit" class="mat-elevation-z10 button">
                                        <span>Enter</span>
                                </a>
                        </mat-card-actions>

                </mat-card>
        </div>


        <div class="item item-2" fxFlex="30%">
                <mat-card class="card">
                        <mat-card-header class="mat-elevation-z10">
                                <mat-card-title>QAD India,
                                        <br>Mumbai</mat-card-title>
                                <mat-card-subtitle>Oct'15-Sep'17</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                                NIIT Technologies is a leading in . My core responsibilites were administration of QAD ERP Application and Progress OpenEdge
                                Database Administration. Along with core responsibilites, I took initiative and participated
                                in Digital Transformation program. Enter to explore more about different projects.
                        </mat-card-content>

                        <mat-card-actions>
                                <button mat-raised-button color="primary" href="/projects/niit" class="mat-elevation-z10 button">
                                        <span>Enter</span>
                                </button>
                        </mat-card-actions>

                </mat-card>
        </div>

        <div class="item item-3" fxFlex="30%">
                <mat-card class="card">
                        <mat-card-header class="mat-elevation-z10">
                                <mat-card-title>MIND,
                                        <br>Noida</mat-card-title>
                                <mat-card-subtitle>May'11-Nov'13</mat-card-subtitle>
                        </mat-card-header>

                        <mat-card-content>
                                NIIT Technologies is a leading in . My core responsibilites were administration of QAD ERP Application and Progress OpenEdge
                                Database Administration. Along with core responsibilites, I took initiative and participated
                                in Digital Transformation program. Enter to explore more about different projects.
                        </mat-card-content>

                        <mat-card-actions>
                                <button mat-raised-button color="primary" href="niit/niit.component.html" class="mat-elevation-z10 button">
                                        <span>Enter</span>
                                </button>
                        </mat-card-actions>

                </mat-card>
        </div>


</div-->