
.centre{
    flex: 1 1 auto;
}

.name {
    font-size: large
}

.show-small{
    display:none
}

@media (max-width:720px){
    .hide-small { 
        display:none
    }
    .show-small { 
        display:flex;
        align-items: center;
    }
    
}


