<div class="container docs-header-section header" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
  <div class="header">
    <h1>2020 SMART WORLD</h1>
    <h2>SMART people will be using SMART devices to access SMART data
      <br>
      <br> SMART data will be hosted in SMART cloud managed by SMART enterprises
      <br>
      <br> SMART enterprises will be running by SMART people of SMART world</h2>
  </div>
</div>


<div class="container " fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">

  <div class="item item-3" fxFlex="30%">
    <mat-card class="card ">
      <mat-card-header class="mat-elevation-z10 ">
        <mat-card-title>
          <h3>MIND,
            <br>Noida</h3>
        </mat-card-title>

        <mat-card-subtitle>
          <br>
          <h3>May'11-Nov'13</h3>
        </mat-card-subtitle>
        
      </mat-card-header>

      <mat-card-actions align="end">
        <br>
        <a mat-raised-button color="primary" routerLink="/projects/niit" class="mat-elevation-z10 button"  >
          <span>Enter</span>
        </a>

      </mat-card-actions>
    </mat-card>
  </div>

  <div class="item item-2" fxFlex="30%">
    <mat-card class="card ">
      
      <mat-card-header class="mat-elevation-z10">
        <mat-card-title>
          <h3>QAD India,
            <br>Mumbai</h3>
        </mat-card-title>

        <mat-card-subtitle>
          <br>
          <h3>Dec'13-Sep'15</h3>
        </mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-actions align="end">
        <br>
        <a mat-raised-button color="primary" routerLink="/projects/niit" class="mat-elevation-z10 button">
          <span>Enter</span>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="item item-1" fxFlex="30%">
    <mat-card class="card ">
      
      <mat-card-header class="mat-elevation-z10">
        <mat-card-title>
          <h3>NIIT Technologies,
            <br>Greater Noida</h3>
        </mat-card-title>

        <mat-card-subtitle>
          <br>
          <h3>Oct'15-Sep'17</h3>
        </mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-actions align="end">
        <br>
        <a mat-raised-button color="primary" routerLink="/projects/niit" class="mat-elevation-z10 button">
          <span>Enter</span>
        </a>
      </mat-card-actions>
    
    </mat-card>
  </div>

</div>